.user {
    font-weight: bold;
    float: left;
    display: block;
    /* width: 100%; */
}

.user a {
    color: black;
}

p.tweet {
    float: left;
    display: block;
    width: 100%;
}

p.timePosted a {
    color: black;
}

p.timePosted {
    /* top: 0; */
    padding-left: 5px;
    position: relative;
    display: inline;
}

p.interact {
    /* float: left; */
    display: block;
}

/* KEEP THESE */
li.list-group-item {
    border-left: none;
    border-right: none;
}

li.list-group-item:last-child {
    border-left: none;
    border-right: none;
    padding-bottom: 0
;
}

div#twit_footer {
    padding-top: 0px;
    margin-top: -15px;
    margin-bottom: 5px;
}
