.user {
    font-weight: bold;
    float: left;
    display: block;
    /* width: 100%; */
}

.user a {
    color: black;
}

p.tweet {
    float: left;
    display: block;
    width: 100%;
}

p.timePosted a {
    color: black;
}

p.timePosted {
    /* top: 0; */
    padding-left: 5px;
    position: relative;
    display: inline;
}

p.interact {
    /* float: left; */
    display: block;
}
